@{
    Layout = null;
}

@model MVCTemplate.Web.ViewModels.Account.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign in</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/Content/Login/ie10-viewport-bug-workaround.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/Login/signin.css" rel="stylesheet" />
</head>

<body>

    <div class="container">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <h2 class="form-signin-heading">Please sign in</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <label for="inputEmail" class="sr-only">Email address</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "inputEmail", type = "email", placeholder = "Email address", required = "required", autofocus = "autofocus" })
            
            <label for="inputPassword" class="sr-only">Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "inputPassword", placeholder = "Password", required = "required" })
            
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe, new { value = "remember-me" }) Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            <p class="pull-right">
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>
        }

    </div> <!-- /container -->

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")*@
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Scripts/Login/ie10-viewport-bug-workaround.js"></script>
</body>
</html>